h2 {
    border-bottom: 1px solid #ccc;
}
h3 {
    border-left: 3px solid #ddd;
    padding-left: 0.3em;
}

.ui-github-link img {
    height: 18px;
    width: auto;
    vertical-align: top;
    margin-left: 0.3em;
}
.ui-subscribe-button img {
    height: 28px;
    width: auto;
}

.ui-shield-link img {
    height: 24px;
    width: auto;
}
