h2 {
    border-bottom: 1px solid #aaa;
    padding: 0.2em;
}
h3 {
    border-left: 3px solid #ddd;
    padding: 0.1em 0.3em;
}

table tbody tr td {
    vertical-align: middle;
}
table tbody tr:nth-child(even) {
    background-color: var(--background-alt);
}
table tbody tr:hover {
    background-color: var(--background);
}

.ui-github-link img {
    height: 18px;
    width: auto;
    vertical-align: top;
    margin-left: 0.3em;
}
.ui-subscribe-button img {
    height: 28px;
    width: auto;
}

.ui-shield-link img {
    height: 22px;
    width: auto;
}
