<!doctype html>
<html lang="ja">
<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name='description' content='yamadashy'>
    <meta name="author" content="yamadashy">
    <meta name="robots" content="index, follow">

    <style>
        {% include "styles/water.css" %}
        {% include "styles/index.css" %}
    </style>

    <title>yamadashy</title>
</head>
<body>

    <h1>yamadashy</h1>

    <div>
        <h2>ソーシャル</h2>
        <p>
            <b>GitHub</b>: <a href="https://github.com/yamadashy">@yamadashy</a>
        </p>
        <p>
            <b>Twitter</b>: <a href="https://twitter.com/yamadashy">@yamadashy</a>
        </p>
        <p>
            <b>Qiita</b>: <a href="https://qiita.com/yamadashy">@yamadashy</a>
        </p>
        <p>
            <b>Mail</b>: koukun0120 @ gmail.com
        </p>
    </div>

    <div>
        <h2>作ったもの</h2>

        <h3>Chrome拡張</h3>
        <table>
            <thead>
            <tr>
                <th>拡張</th>
                <th></th>
                <th>リポジトリ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="https://chrome.google.com/webstore/detail/slack-channels-grouping/lcbnhfianneihfgkmfncnhpkpghedbkm" rel="nofollow">Slack Channels Grouping</a></td>
                <td><a href="https://chrome.google.com/webstore/detail/slack-channels-grouping/lcbnhfianneihfgkmfncnhpkpghedbkm" rel="nofollow"><img src="https://camo.githubusercontent.com/43bdf0ca5a6bcee6454aeb405542a103276653642382bdd3809306ffd5e930fa/68747470733a2f2f696d672e736869656c64732e696f2f6368726f6d652d7765622d73746f72652f75736572732f6c63626e686669616e6e65696866676b6d666e636e68706b7067686564626b6d3f6c6f676f3d676f6f676c652d6368726f6d65266c6f676f436f6c6f723d7768697465" alt="Chrome Web Store Users" data-canonical-src="https://img.shields.io/chrome-web-store/users/lcbnhfianneihfgkmfncnhpkpghedbkm?logo=google-chrome&amp;logoColor=white" style="max-width: 100%;"></a></td>
                <td><a href="https://github.com/yamadashy/slack-channels-grouping">yamadashy/slack-channels-grouping</a></td>
            </tr>
            <tr>
                <td><a href="https://chrome.google.com/webstore/detail/sheets-tabs-on-top/lbhlhhckfpdpafckdiklcbamkmogjdjc" rel="nofollow">Google Sheets tabs on top</a></td>
                <td><a href="https://chrome.google.com/webstore/detail/google-sheets-tabs-on-top/lbhlhhckfpdpafckdiklcbamkmogjdjc" rel="nofollow"><img src="https://camo.githubusercontent.com/b46b49de9ff47182591145498201f32f3c81666ef6a918187cb8d1fa990b6341/68747470733a2f2f696d672e736869656c64732e696f2f6368726f6d652d7765622d73746f72652f75736572732f6c62686c6868636b667064706166636b64696b6c6362616d6b6d6f676a646a633f6c6f676f3d676f6f676c652d6368726f6d65266c6f676f436f6c6f723d7768697465" alt="Chrome Web Store Users" data-canonical-src="https://img.shields.io/chrome-web-store/users/lbhlhhckfpdpafckdiklcbamkmogjdjc?logo=google-chrome&amp;logoColor=white" style="max-width: 100%;"></a></td>
                <td><a href="https://github.com/yamadashy/google-sheets-tabs-on-top">yamadashy/google-sheets-tabs-on-top</a></td>
            </tr>
            </tbody>
        </table>

        <h3>ウェブサイト</h3>
        <table>
            <thead>
            <tr>
                <th>サイト</th>
                <th></th>
                <th>リポジトリ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="https://yamadashy.github.io/tech-blog-rss-feed/" rel="nofollow">企業テックブログRSS</a></td>
                <td>
                    <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fyamadashy.github.io%2Ftech-blog-rss-feed%2Ffeeds%2Frss.xml'  target='blank'>
                        <img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-medium_2x.png' alt='follow us in feedly' width='71' height='28'>
                    </a>
                    <a href="https://www.inoreader.com?add_feed=https://yamadashy.github.io/tech-blog-rss-feed/feeds/rss.xml">
                        <img src="https://www.inoreader.com/brand/img/subscribe-btn-x1.png" width="94">
                    </a>
                </td>
                <td><a href="https://github.com/yamadashy/tech-blog-rss-feed">yamadashy/tech-blog-rss-feed</a></td>
            </tr>
            </tbody>
        </table>

        <h3>Composerパッケージ</h3>
        <table>
            <thead>
            <tr>
                <th>パッケージ</th>
                <th>リポジトリ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="https://packagist.org/packages/yamadashy/laravel-blade-minify-directive" rel="nofollow">Laravel Blade Minify Directive</a></td>
                <td><a href="https://github.com/yamadashy/laravel-blade-minify-directive">yamadashy/laravel-blade-minify-directive</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
