<!doctype html>
<html lang="ja">
<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name='description' content='{{ constants.siteDescription }}'>
    <meta name="author" content="{{ constants.author }}">
    <meta name="robots" content="index, follow">

    {% if constants.googleSiteVerification %}
        <meta name="google-site-verification" content="{{ constants.googleSiteVerification }}" />
    {% endif %}

    <style>
        {% include "styles/vendor/water.css" %}
        {% include "styles/index.css" %}
    </style>

    {% if constants.globalSiteTagKey %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ constants.globalSiteTagKey }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];

          function gtag() {
            dataLayer.push(arguments);
          }

          gtag('js', new Date());

          gtag('config', '{{ constants.globalSiteTagKey }}');
        </script>
    {% endif %}

    <title>yamadashy</title>
</head>
<body>

    <h1>yamadashy</h1>

    <div>
        <h2>ソーシャル</h2>
        <p>
            <a href="https://github.com/yamadashy">GitHub</a>
            <span> / </span>
            <a href="https://x.com/yamadashy">X</a>
            <span> / </span>
            <a href="https://qiita.com/yamadashy">Qiita</a>
        </p>
        <p>
            <b>Mail</b>: koukun0120 @ gmail.com
        </p>
    </div>

    <div>
        <h2>作ったもの</h2>

        <h3>ツール</h3>
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="https://www.npmjs.com/package/repopack" rel="nofollow">Repopack</a>
                    <a class="ui-github-link" href="https://github.com/yamadashy/repopack"><img src='images/github-mark.png' alt='GitHubロゴ' title="GitHubリポジトリへのリンク" width='32' height='32' /></a>
                </td>
                <td>
                    コードベースをLLM向けに1ファイルにするツール<br>
                    <a href="https://qiita.com/yamadashy/items/d150576759b84ea36274">Qiita記事</a>
                </td>
                <td>
                    <a class="ui-shield-link" href="https://www.npmjs.com/package/repopack" rel="nofollow">
                        <img src='https://img.shields.io/npm/d18m/repopack' alt='npm downloads' title="npm downloads" />
                    </a>
                    <a href="https://github.com/yamadashy/repopack">
                        <img src='https://img.shields.io/github/stars/yamadashy/repopack?style=flat&logo=github' alt='GitHub stars' title="GitHub stars" />
                    </a>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <h3>Chrome拡張</h3>
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th style="width: 150px"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="https://chrome.google.com/webstore/detail/slack-channels-grouping/lcbnhfianneihfgkmfncnhpkpghedbkm" rel="nofollow">Slack Channels Grouping</a>
                    <a class="ui-github-link" href="https://github.com/yamadashy/slack-channels-grouping"><img src='images/github-mark.png' alt='GitHubロゴ' title="GitHubリポジトリへのリンク" width='32' height='32' /></a>
                </td>
                <td>
                    Slackのチャンネル一覧をまとめる拡張<br>
                    <a href="https://qiita.com/yamadashy/items/9480cf4f9c9419b76d90">Qiita記事</a>
                </td>
                <td>
                    <a class="ui-shield-link" href="https://chrome.google.com/webstore/detail/slack-channels-grouping/lcbnhfianneihfgkmfncnhpkpghedbkm" rel="nofollow">
                        <img src='https://img.shields.io/chrome-web-store/users/lcbnhfianneihfgkmfncnhpkpghedbkm?logo=google-chrome&logoColor=white' alt='Chrome Web Store Users' title="Chrome Web Store Users" />
                    </a>
                    <a href="https://github.com/yamadashy/slack-channels-grouping">
                      <img src='https://img.shields.io/github/stars/yamadashy/slack-channels-grouping?style=flat&logo=github' alt='GitHub stars' title="GitHub stars" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://chrome.google.com/webstore/detail/sheets-tabs-on-top/lbhlhhckfpdpafckdiklcbamkmogjdjc" rel="nofollow">Google Sheets tabs on top</a>
                    <a class="ui-github-link" href="https://github.com/yamadashy/google-sheets-tabs-on-top"><img src='images/github-mark.png' alt='GitHubロゴ' title="GitHubリポジトリへのリンク" width='32' height='32' /></a>
                </td>
                <td>スプレッドシートのタブを上に表示する拡張</td>
                <td>
                    <a class="ui-shield-link" href="https://chrome.google.com/webstore/detail/google-sheets-tabs-on-top/lbhlhhckfpdpafckdiklcbamkmogjdjc" rel="nofollow">
                        <img src='https://img.shields.io/chrome-web-store/users/lbhlhhckfpdpafckdiklcbamkmogjdjc?logo=google-chrome&logoColor=white' alt='Chrome Web Store Users' title="Chrome Web Store Users" />
                    </a>
                    <a href="https://github.com/yamadashy/google-sheets-tabs-on-top">
                      <img src='https://img.shields.io/github/stars/yamadashy/google-sheets-tabs-on-top?style=flat&logo=github' alt='GitHub stars' title="GitHub stars" />
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <h3>ウェブサイト</h3>
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th style="width: 150px"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="https://yamadashy.github.io/tech-blog-rss-feed/" rel="nofollow">企業テックブログRSS</a>
                    <a class="ui-github-link" href="https://github.com/yamadashy/tech-blog-rss-feed"><img src='images/github-mark.png' alt='GitHubロゴ' title="GitHubリポジトリへのリンク" width='32' height='32' /></a>
                </td>
                <td>
                    企業のテックブログの更新をまとめたRSSフィードを配信<br>
                    <a href="https://qiita.com/yamadashy/items/0130e3e569b0832bc51f">Qiita記事</a>
                </td>
                <td>
                    <a class="ui-subscribe-button" href='https://feedly.com/i/subscription/feed/https://yamadashy.github.io/tech-blog-rss-feed/feeds/rss.xml' target="_blank" rel="noopener">
                        <img src='images/subscribe-feedly.png' alt='follow us in feedly' width='152' height='56'>
                    </a>
                    <a class="ui-subscribe-button" href="https://www.inoreader.com?add_feed=https://yamadashy.github.io/tech-blog-rss-feed/feeds/rss.xml" target="_blank" rel="noopener">
                        <img src="images/subscribe-inoreader.png" alt="follow us in inoreader" width='260' height='72'>
                    </a>
                    <a href="https://github.com/yamadashy/tech-blog-rss-feed">
                        <img src='https://img.shields.io/github/stars/yamadashy/tech-blog-rss-feed?style=flat&logo=github' alt='GitHub stars' title="GitHub stars" />
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <h3>PHP Composerパッケージ</h3>
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="https://packagist.org/packages/yamadashy/phpstan-friendly-formatter" rel="nofollow">PHPStan Friendly Formatter</a>
                    <a class="ui-github-link" href="https://github.com/yamadashy/phpstan-friendly-formatter"><img src='images/github-mark.png' alt='GitHubロゴ' title="GitHubリポジトリへのリンク" width='32' height='32' /></a>
                </td>
                <td>コードフレームを表示する <a href="https://phpstan.org/">PHPStan</a> のエラーフォーマッター</td>
            </tr>
            <tr>
                <td>
                    <a href="https://packagist.org/packages/yamadashy/laravel-blade-minify-directive" rel="nofollow">Laravel Blade Minify Directive</a>
                    <a class="ui-github-link" href="https://github.com/yamadashy/laravel-blade-minify-directive"><img src='images/github-mark.png' alt='GitHubロゴ' title="GitHubリポジトリへのリンク" width='32' height='32' /></a>
                </td>
                <td>HTMLを部分的に圧縮するための <code>@minify</code> ディレクティブ</td>
            </tr>
            </tbody>
        </table>

        <h3>その他</h3>
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>記憶虫</td>
                    <td>
                        ハチミツとプログラムが大好物な”8ビットのムシ”を育成するブロックチェーンゲーム
                        （<a href="https://note.com/ivan622/n/n7251e20c92a8">サービス終了済み</a>）<br>
                        <a href="https://dappsgamelab.com/pre/kiokumushi/">紹介記事</a>
                    </td>
                </tr>
                <tr>
                    <td>RED STONE <a href="http://kou0120.blog.fc2.com/blog-entry-70.html">NxU比較ツール</a></td>
                    <td>装備の進化前・進化後を簡単に比較できるツール</td>
                </tr>
                <tr>
                    <td>RED STONE <a href="http://kou0120.blog.fc2.com/blog-entry-205.html">エフェクト・グラフィック表示ツール</a></td>
                    <td>ゲームのグラフィック系ファイルを読み込ませると表示してくれる。暗号化されたゲームデータも復号して読み込める。</td>
                </tr>
                <tr>
                    <td>RED STONE <a href="http://kou0120.blog.fc2.com/blog-entry-148.html">ロトボックスシミュレーター</a></td>
                    <td>ブログパーツとしてブログに貼れる暇つぶしツール。プログラミングを初めて最初に作ったもの。よく見るとロトの綴が間違っている。</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <a class="ui-github-link" href="https://github.com/yamadashy/yamadashy.github.io">yamadashy.github.io <img src='images/github-mark.png' alt='GitHubロゴ' title="GitHubリポジトリへのリンク" width='32' height='32' /></a>
    </footer>

</body>
</html>
